html {
    --mdc-typography-font-family: 'Red Rose';
  }
#bingo-panel{
    text-align: center;
}
.title-name{
    text-align: center;
}
.host-button {
    text-align: center;
}
.info{
    text-align: center;
}
.joinid{
    text-align: center;
 
}
.home-name{
    text-align: center;
}
.join-button{
    text-align: center;
}
.host-page{
    text-align: center;
}
.donate{
    padding-right: 30px;
    text-align: right;
}
.shuffle{
    padding-right: 140px;
    text-align: center;
}